@font-face {
  font-family: "intelone-mono-font-family-regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "intelone-mono-font-family-regular";
}

/* Editor */

.Box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1588421357574-87938a86fa28?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.MemoEditor {
  margin-top: 20px;
  margin-right: 100px;
  width: 60vh;
  text-align: center;
  padding: 30px 20px;
  background-color: #f9e46f;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  transition: all 0.5s;
}

.MemoEditor:hover {
  background-color: #ffdd1c;
  width: 62vh;
  transition: all 0.5s;
}

.MemoEditor H2 {
  margin-bottom: 20px;
}

.MemoEditor input,
textarea {
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
}

.MemoEditor textarea {
  height: 150px;
}

.MemoEditor select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.MemoEditor button {
  width: 300px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: white;
  transition: all 0.3s;
}

.MemoEditor button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: all 0.3s;
}

/* List */

.MemoList {
  overflow: scroll;
  width: 55vh;
  height: 800px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #f9e46f;
  transition: all 0.5s;
}

.MemoList:hover {
  background-color: #ffdd1c;
  width: 60vh;
  transition: all 0.5s;
}

.MemoList::-webkit-scrollbar {
  display: none;
}

.MemoList h2 {
  text-align: center;
}

.MemoList h4 {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

/* Item */

.MemoItem {
  margin-top: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 6px;
}

.MemoItem .title {
  text-align: center;
  font-weight: bold;
}

.MemoItem .date {
  text-align: center;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
}

.MemoItem .content {
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding-top: 10px;
  margin-top: 10px;
}
