@font-face {
  font-family: "intelone-mono-font-family-regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "intelone-mono-font-family-regular";
}

.Box-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 70px;
}

/* Editor */

.MemoEditor {
  text-align: center;
  padding: 30px 20px;
  background-color: #ffdd1c;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.MemoEditor H2 {
  margin-bottom: 20px;
}

.MemoEditor input,
textarea {
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
}

.MemoEditor textarea {
  height: 150px;
}

.MemoEditor select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.MemoEditor button {
  width: 300px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: white;
  transition: all 0.3s;
}

.MemoEditor button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: all 0.3s;
}

/* List */

.MemoList {
  padding: 20px;
  margin-top: 20px;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #f9e46f;
}

.MemoList h2 {
  text-align: center;
}

.MemoList h4 {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

/* Item */

.MemoItem {
  margin-top: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 6px;
}

.MemoItem .title {
  text-align: center;
  font-weight: bold;
}

.MemoItem .date {
  text-align: center;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
}

.MemoItem .content {
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding-top: 10px;
  margin-top: 10px;
}
